@media screen and (max-width:1200px) {

    .team .team-card .text h4,
    .team .team-card .text h5 {
        font-size: 20px;
    }
}

@media screen and (max-width:992px) {
    nav .navbar-collapse {
        background-color: white;
        text-align: center;
        padding-block: 15px;
    }

    nav .navbar-collapse .nav-link {
        color: black !important;
    }

    .team .team-card .text h4,
    .team .team-card .text h5 {
        font-size: 18px;
    }
}

@media screen and (max-width:768px) {
    .testimonial .carousel p {
        width: 100%;
    }
    .contact .custom-width  {
        width: 100%;
    }
}

@media screen and (max-width:567px) {
    .title {
        font-size: 30px;
    }

    header p {
        font-size: 40px;
    }

    header p::after {
        display: block;
    }

    .about .about-img img {
        width: 100%;
    }

    .team .team-card .img .overlay a {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }
}